.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #fff4f2;
}
.fav{
    display: flex;
    justify-content: end ;
}
.position >span{
    font-size: 12px;
    background-color: tomato;
    border-radius:10px ;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
}
.logo{
    width: 150px;
    
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size:  18px;;
}
.navbar-right{
   display: flex;
    align-items: center;
    padding-right: 20px;
    
}
.position{
    position: relative;
}
.header button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(219, 60, 32);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.header button:hover{
   background-color: #fff4f2; 
}
@media(max-width:800px){
    .navbar-menu{
        font-size: 9.5px;
        gap: 7px;
    }
    .logo{
        width: 80px;
    }
    .header{
        padding: 10px;
    }
    .header button {
        font-size: 9px;
        padding: 5px 15px;
        border-radius: 20px;
    }
    .navbar-right{
        padding-right: 5px;
    }
    .position >span{
        font-size: 9px;
        width: 9px;
        height: 9px;
        top: 15px;
        right: 15px;
    }
}